body {
  font: 14px Helvetica, "Lucida Grande", Arial, sans-serif;
  background-color: #F5F5F5;
  height: 100%; }

::-webkit-scrollbar {
  display: none; }

html {
  box-sizing: border-box;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.right {
  float: right; }

.left {
  float: left; }

div.width {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px; }
  div.width.chat {
    padding-top: 0px; }

div.header {
  position: absolute;
  z-index: 2;
  top: 0px;
  width: 100%;
  height: 64px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2); }
  div.header.support {
    background-color: #FF1F45; }
    div.header.support h2 {
      color: white; }
      div.header.support h2 strong {
        color: white; }
  div.header h2 {
    float: left;
    margin-left: 20px;
    margin-top: 0px;
    line-height: 64px;
    color: #686868; }
    div.header h2 strong {
      color: #FF1F45; }

div.chat-box {
  float: left;
  width: 60%;
  max-height: 100%;
  overflow: scroll; }
  div.chat-box div.messages-box {
    float: left;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 90px; }
    div.chat-box div.messages-box ul {
      list-style: none;
      padding: 0px;
      margin: 0px; }
      div.chat-box div.messages-box ul li.message {
        clear: both;
        width: 100%;
        margin-bottom: 20px; }
        div.chat-box div.messages-box ul li.message:last-child {
          padding-bottom: 0px;
          margin-bottom: 0px; }
        div.chat-box div.messages-box ul li.message.left span.info, div.chat-box div.messages-box ul li.message.left div.chat-bubble {
          float: left; }
        div.chat-box div.messages-box ul li.message.right span.info, div.chat-box div.messages-box ul li.message.right div.chat-bubble {
          float: right; }
        div.chat-box div.messages-box ul li.message span.info {
          color: #969696;
          margin-bottom: 8px; }
        div.chat-box div.messages-box ul li.message div.chat-bubble {
          clear: both;
          background-color: white;
          color: #636363;
          border-radius: 3px;
          padding: 16px;
          max-width: 90%;
          min-width: 60%;
          -webkit-box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2);
          -moz-box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2);
          box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2); }

div.right-box {
  float: right;
  width: 30%;
  margin-top: 90px; }
  div.right-box .real-name {
    float: right;
    width: 100%; }
    div.right-box .real-name p {
      color: #969696; }
  div.right-box div.input-name-box {
    float: left;
    width: 100%; }
    div.right-box div.input-name-box input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #D8D8D8;
      line-height: 30px;
      width: 100%; }
    div.right-box div.input-name-box button.change-name {
      float: right;
      width: 36px;
      height: 36px;
      background-color: white;
      border: none;
      -webkit-box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2);
      -moz-box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2);
      box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2);
      background-image: url("../images/check_icon.svg");
      background-repeat: no-repeat;
      background-position: center center; }

div.link-box {
  float: right;
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2); }
  div.link-box span.title {
    color: #969696;
    float: left;
    width: 100%;
    margin-bottom: 10px; }
  div.link-box span.chat-link {
    float: left;
    color: #555555;
    text-decoration: none;
    margin-right: 6px; }
  div.link-box span.copy {
    font-weight: 600;
    color: #555555; }

div.user-box {
  float: right;
  width: 100%;
  padding: 16px 16px 0px 16px;
  margin-bottom: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2); }
  div.user-box > span {
    color: #969696; }
  div.user-box ul.online-users {
    list-style: none;
    padding: 0px;
    margin-bottom: 5px; }
    div.user-box ul.online-users li {
      border-top: 1px solid #F0F0F0;
      line-height: 36px; }

div.input-message {
  position: absolute;
  left: 0px;
  padding-left: 20px;
  padding-right: 4px;
  bottom: 30px;
  width: 60%;
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 0px 30px 20px whitesmoke;
  -moz-box-shadow: 0px 0px 30px 20px whitesmoke;
  box-shadow: 0px 0px 30px 20px whitesmoke; }
  div.input-message input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: #E7E7E7;
    padding: 0px 16px; }
  div.input-message div.input-wrapper {
    width: auto;
    overflow: hidden;
    margin-right: 120px; }
  div.input-message button {
    float: right;
    margin-top: -40px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 3px;
    width: 100px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2);
    -moz-box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2);
    box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2); }

div.center-box {
  color: #686868;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 400px;
  padding: 30px;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(143, 143, 143, 0.2); }
  div.center-box h2 {
    font-size: 24px;
    font-weight: 200; }
    div.center-box h2 strong {
      color: #FF1F45; }
  div.center-box p {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto; }
  div.center-box button.create-room {
    background-color: #FF1F45;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 3px; }

@media screen and (max-width: 700px) {
  div.right-box {
    display: none; }

  div.chat-box {
    width: 100%; }

  div.input-message {
    width: 100%;
    padding-right: 20px;
    /*left: 0px;
    padding-left: 20px;
    margin-right: 20px;*/ } }
